<% content_for :add_photo do %>
<div class="row">
  <div class="col-sm-12">
    <div class="card-list">
      <a href="/add-photo">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="URL . . .">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subir!</button>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
<% end %>