<% content_for :entry do %>
  <div class="card-block card-shadow">
    <div class="row content">
      <div class="col-sm-9">
        <div class="input-group" style="width: 100%;">
          <input type="text" class="form-control" placeholder="Titulo. . .">
        </div>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <p class="date" style="margin: 0;">02-12-2019</p>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12 content-body">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquam ducimus aspernatur quos fugiat maxime autem nesciunt aut ratione quae est voluptatem libero quas quam, consequatur similique id. Accusantium, optio!</p>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <div class="input-group">
          <form method="POST" action="/prueba" enctype="multipart/form-data">
            <input type="file" name="archivo">
            <button type="submit">Prueba</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>