<% content_for :list do %>
  <div class="card-block card-shadow">
    <div class="row">
      <div class="col-sm-6">
        <a class="menu" href="/">
          <p class="title-option <%= "select" if content_for?(:list_entry) %>">Daily</p>
        </a>
      </div>
      <div class="col-sm-6">
        <a class="menu" href="/photo">
          <p class="title-option <%= "select" if content_for?(:add_photo) %>">Photo</p>
        </a>
      </div>
    </div>
    <%= yield_content :add_photo if content_for?(:add_photo) %>
    <%= yield_content :list_entry if content_for?(:list_entry) %>
  </div>
<% end %>