<% content_for :list do %>
  <div class="card-block card-shadow">
    <div class="row">
      <div class="col-sm-4">
        <a class="menu" href="/">
          <p class="title-option <%= "select" if @url == "/" || @url == "/edit" %>">Daily</p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="menu" href="/photo">
          <p class="title-option <%= "select" if  @url == "/photo" %>">Photo</p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="menu" href="/trash">
          <p class="title-option <%= "select" if @url == "/trash" %>">Trash</p>
        </a>
      </div>
    </div>
    <% unless /^(\/photo|\/trash)$/ === @url %>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-list">
          <a href="/">
            <button type="button" class="btn btn-default btn-sm" title="New Entry">
              <span
                    class="glyphicon glyphicon-plus-sign"
                    aria-hidden="true"
              ></span>
            </button>
          </a>
        </div>
      </div>
    </div>
    <% end %>
    <%= yield_content :list_entry if content_for?(:list_entry) %>
  </div>
<% end %>